*:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: inherit !important;
}

.signin-form {
    position: relative;

    width: 50%;

    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    display: flex;
    flex-direction: column;
}

.signin-form input, textarea {
    position: relative;

    margin: 0;
    padding: 0;

    width: 75%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

    font-size: 1.5vw;

    border: rgba(0, 0, 0, 0) 3px solid !important;
    text-align: center;
    border-radius: 45px;

    background-color: rgb(37, 37, 37);
    /* border: rgba(255,255,255,255) !important; */
}


.signin-form button {
    position: relative;

    width: 25%;

    margin: 0;
    padding: 0;

    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;

    padding: 10px;

    font-size: 1vw;

    border: rgba(0, 0, 0, 0) 3px solid !important;
    text-align: center;
    border-radius: 45px;

    background-color: rgb(37, 37, 37);
    cursor: pointer;

}

#message {
    font-size: 1vw;
}

.input-name {
    position: relative;

    margin: 0;
    padding: 0;

    font-size: 1.5vw;
    vertical-align: top;
}

.input-textarea {
    height: 25vw !important;
    padding: 20px !important;
    text-align: left !important;
    resize: none !important;
    overflow: hidden !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    box-sizing: border-box !important;
    overflow-x: hidden !important; /* ← главное */
    overflow-y: auto !important;
}
