.posts{
    position: relative;

    width: 60%;
    height: fit-content;

    margin-left: auto;
    margin-right: auto;

    background-color: rgb(12, 12, 12);
    border-radius: 45px;

    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
}

.post{
    position: relative;

    width: 70%;

    margin-top: 30px;

    margin-left: auto;
    margin-right: auto;

    background-color: rgb(20, 20, 20);
    border-radius: 45px;
}

.post

.post-h1{
    position: relative;

    margin: 0;
    padding: 10px;

    font-size: 2vw;
}

.post-p{
    position: relative;

    margin: 0;
    padding: 10px;

    font-size: 1.5vw;
}

.post-hashtags{
    position: relative;

    width: 100%;

    display: flex;
}

.hashtag{
    position: relative;

    margin: 0;
    padding: 10px;

    width: 20%;

    font-size: 1vw;
}

.delete-post-button{
    position: relative ;

    width: 25%;


    right: 0;
    padding: 10px;
    
    font-size: 1vw;
    margin-left: 70%;

    border: rgba(0, 0, 0, 0) 3px solid !important;
    text-align: center;
    border-radius: 45px;

    background-color: rgb(37, 37, 37);

    cursor: pointer;

    transition: all 1s ease-in-out;

    z-index: 100;
}

.delete-post-button:hover{
    background-color: red;
}
